
  #whiteboard {
    overflow: hidden;
    width: 90%;
    /* height: 150px; */
    aspect-ratio: 4 / 3;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background-size: 12.5% 12.5%;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, white 1px);
  }
  .dragbox {
    /* width: 50px;
    height: 50px; */
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
    resize: none;
  }
  .close-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 3px 6px;
    font-size: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    z-index: 10;
  }
  
  .bbox-submit-button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer on hover */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect */
  }
  
  .bbox-submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .palette{
    display: grid;
    grid-template-columns: repeat(11,auto);
    grid-gap:1px;
  }
  .palette img {
    margin: auto;
    /* width:240px; */
  }