<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/visione.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/jquery-ui.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/queryByExample.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/toggle.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/palette.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/popup.css') }}" />
  <!-- <link rel="stylesheet" href="css/bootstrap.css" /> -->

  <link rel="icon" type="image/x-icon" href="{{url_for('static',path='img/favicon.png')}}">
  <title>1 kg rau muong = 1 kg beef</title>
</head>

<body style="background-image: url('https://i.sstatic.net/kx8MT.gif'); background-size: cover;">
  <header>
    <a href="credits"><h1
    class="rainbow_text_animated"><b>DMCS©</b></h1>
    </a>
  </header>
  <main>
    <form id="request">
      <div class="my_headerGrid">
        <div class="search-container">
          <input type="text" name="scene_description" class="large-placeholder"
            placeholder="Describe the scene you are looking for..." value="{{scene_description}}" />
          <input type="number" name="num_clip_query" class="large-placeholder" placeholder="Number of CLIP neareset"
            value={{num_clip_query}} size="50" style="width: 50px; padding: 10px; 
              height: 100%; font-size: 20px;" id="num-clip-query" />
          <input type="number" name="num_show_query" class="large-placeholder" placeholder="Number of show on Web"
          value={{num_show_query}} size="50" style="width: 50px; padding: 10px; 
            height: 100%; font-size: 20px; display: none;" id="num-show-query"/>
          <div class="select">
            <select id="model-name" name="model_name">
              <option value="CLIP" selected="selected">CLIP</option>
              <option value="ALIGN">ALIGN</option>
            </select>
          </div>
          <div class="select">
            <select id="query-type" name="query_type"
              style="font-size: 18px">
              <option value="text" selected="selected">Text query</option>
              <option value="url">URL query</option>
              <option value="image">Image query</option>
              <option value="idx" hidden>idx</option>
              <option value="dinov2" hidden>dinov2</option>
              <option value="ocr">OCR</option>
              <option value="od" hidden>OD</option>
            </select>
          </div>
        </div>
      </div>
      <div class="my_headerGrid">
        <div class="search-container">
          <input type="text" name="string_query" class="large-placeholder"
            placeholder="OCR/ASR.. (string query)" value="{{string_query}}" />
          <div class="select" style="display: none;">
            <select id="ranking-type" name="ranking_type">
              <option value="ocr">OCR</option>
              <option value="asr">ASR</option>
              <option value="ocr_asr" selected="selected">ASR+OCR</option>
              <option value="od" hidden>OD</option>
            </select>
          </div>
          </div>
        </div>
      </div>
      <div class="bodyGrid">
        <div class="sidebarGrid" id="searchSidebar" style="width: 310px; height:100%;">
          <div class="advanced" style="display: block">

            <div id="whiteboard" ondrop="dropPalette(event)" ondragover="allowDrop(event)"></div>
            <br>
            <div class="palette" id="palette-place">
              <div class="dragbox" palette_name="watame" style="display: none;">
                <span id="close-btn" class="close-btn" onclick="this.parentElement.remove()" hidden>×</span>
                <img draggable="true" ondragstart="dragPalette(event)" width="100%" height="100%" id="palette-img"
                  src="https://pbs.twimg.com/profile_images/1341868702606774272/UY8t3Nl9_400x400.jpg">
              </div>
              <div class="dragbox" palette_name="watame" style="display: none;">
                <span id="close-btn" class="close-btn" onclick="this.parentElement.remove()" hidden>×</span>
                <img draggable="true" ondragstart="dragPalette(event)" width="100%" height="100%" id="palette-img"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Xi_Jinping_March_2017.jpg/640px-Xi_Jinping_March_2017.jpg">
              </div>
            </div>
            <div class="bbox-submit-button" onclick="bbox_submit()">Click Me</div>

            <div class="headerItem">
              <div id="qbe" class="font-normal">
                <div id="filter" class="advanced" style="display: block">
                  <div class="qbeGrid">
                    <div class="qbeItem">
                      <b id="urlText">Paste image URL</b>
                      <a href="#" id="urlLink" onclick="changeQueryBySampleMod('url')" style="display: none">Paste image
                        URL</a>
                    </div>
                    <div class="qbeItem column-span-2">
                    </div>

                    <div class="qbeItem column-span-2">
                      <input type="hidden" value="" id="objId" />
                      <input id="url-textbox" name="url_query" type="text" size="34" value="{{url_query}}"
                        onsubmit="return true;" />
                      <input style="display: none" id="imageToUpload" name="imgFile" type="file" size="34" />
                    </div>
                    <div class="qbeItem column-span-1">
                      <input type="image" src="img/Search.png" style="height: 20px" value="Search" id="queryByExample"
                        title="Search" onclick="return true;" />
                    </div>

                    <div class="qbeItem column-span-3">
                      <div class="preview" id="qbeblock" style="display: none; padding-top: 10px">
                        <img src="" id="qbeImg" width="100" />
                        <img id="removeqbe" title="remove" width="16" style="vertical-align: top"
                          src="img/Actions-dialog-close-icon.png" onclick="resetQueryImg()" />
                      </div>
                    </div>

                    <input id="image-file" type="file" />

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contentGrid" id="content"
        style="height: 100%;">
          <div id="loading-spinner">
            <i class="fas fa-spinner fa-spin"></i>
          </div>
          <div id="avsSelected" class="avsSelected">
            <div id="avsTab" style="display: block" class=""></div>
          </div>
          <div id="resGrid" class="resGrid">
            <div id="results" class="resGrid2">
              <div id="imgGridResults" class="gridcontainer"></div>
            </div>
            <ol id="recordingsList"></ol>
          </div>
        </div>
        <div class="rightSidebarGrid" id="submitted_bar" style="display: none">
          <div style="color: green">
            Submitted: <b id="submitted_num" style="color: red"></b>
          </div>
          <div id="avsSubmittedTab" style="display: block"></div>
        </div>
      </div>
      <input type="hidden" name="idx_query" value="{{idx_query}}"/>
    </form>
  </main>
  <div id="popupOverlay" 
         class="overlay-containeshowr ">
  </div>
</body>

<script>
  //{&#34;} is {'} but JSON.parse only accept {"}
  data_reponse =  "{{data_response}}".replaceAll(/&#34;/g,'"')
  data_reponse = JSON.parse(data_reponse)
  select_box = document.getElementById("query-type");
  for (let item of select_box.options){
    if (item.value == "{{query_type}}"){
      item.selected = true;
    }
  }
  select_box = document.getElementById("model-name");
  for (let item of select_box.options){
    if (item.value == "{{model_name}}"){
      item.selected = true;
    }
  }
</script>
<script src="{{url_for('static', path='/js/main.js')}}"></script>
<script src="{{url_for('static', path='/js/palette.js')}}"></script>
</html>