<div data-videoid="14625" id="res_14625-157" data-row="3" data-col="0" class="item column-span-1">
    <a></a>
    <div class="result-border" style="border-color: #71b1f4;">
        <a><div class="myimg-thumbnail" id="14625-157" lang="14625|videos/tiny/14625-tiny.mp4">
        <img loading="eager" id="img14625-157" class="myimg" src="{{url_for('static', path=thumbnail_path)}}" onclick="avsCleanManuallySelected(); avsToggle()" style="display: block;">
        </div></a>

        <div id="toolbar_icons_14625-157"><a>
        </a><a class="font-tiny" title="View annotations of 14625-157,  Score: 3" href="indexedData.html?videoId=14625&amp;id=14625-157" target="_blank">{{img_idx}}</a>
        <a title="Video summary" href="javascript:void(0);" onclick="openChildWindow('14625', '14625-157', '14625-157')"><i class="fa fa-th font-normal" style="padding-left: 3px;"></i></a>
        <a href="#" title="Play Video"><i title="Play Video" class="fa fa-play font-normal" style="color:#007bff;padding-left: 3px;" onclick="playVideoWindow('videos/14625-medium.mp4', '14625', '14625-157'); return false;"></i></a>
        <a href="#" class="isSimplified" title="image similarity" style="display: none;"><img loading="eager" style="padding: 2px;" src="{{url_for('img', path='comboSim.svg')}}" width="20" title="image similarity" alt="14625-157" id="comboSim14625-157" onclick="var queryObj=new Object(); queryObj.comboVisualSim='14625-157'; searchByLink(queryObj); return false;"></a>
        <a href="#" class="isAdvanced" title="Visual similarity" style="display: inline-block;"><img loading="eager" style="padding: 2px;" src="{{url_for('img', path='imgSim.png')}}" width="20" title="Visual similarity (dinov2)" alt="14625-157" id="gemSim14625-157" onclick="var queryObj=new Object(); queryObj.vf='14625-157'; searchByLink(queryObj); return false;"></a>
        <a href="#" class="isAdvanced" title="semantic similarity" style="display: inline-block;"><img loading="eager" style="padding: 2px;" src="{{url_for('img', path='aladinSim.svg')}}" width="20" title="semantic similarity" alt="14625-157" id="aladinSim14625-157" onclick="var queryObj=new Object(); queryObj.aladinSim='14625-157'; searchByLink(queryObj); return false;"></a>
        <a href="#" class="isAdvanced" title="semantic video  similarity" style="display: inline-block;"><img loading="eager" style="padding: 2px;" src="{{url_for('img', path='clipSim.svg')}}" width="20" title="semantic video  similarity" alt="14625-157" id="clipSim14625-157" onclick="var queryObj=new Object(); queryObj.clipSim='14625-157'; searchByLink(queryObj); return false;"></a>

        <a href="#" title="Submit result"><span class="pull-right"><i id="submitBTN_14625-157" title="Submit result" class="fa fa-arrow-alt-circle-up font-huge" style="color:#00AA00; padding-left: 0px;" onclick="submitVersion2()"> </i></span></a>
    <div>
</div>
</div></div></div>