<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
    
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js" defer></script>

    <link rel="icon" type="image/x-icon" href="{{url_for('static',path='img/favicon_video.png')}}">
    <style>
        body {
            background-color: #151515;
            color: aliceblue;
            font-family: 'PT Serif', serif;
        }

        h1 {
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    </style>

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #video-container {
            position: relative;
            width: 70%;
            max-width: 100%;
            height: 75vh;
            margin: 0 auto;
        }

        #video-player {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
        }
    </style>
</head>

<body>
    <br><br>
    <!-- <a href="#" id = "video-title"><h1>{{title}}</h1></a> -->
    <h1>{{title}}</h1>
    <h3 id = 'currenttimeshow'></h3>
    <div id="video-container">
        <video id="video-player" class="video-js" preload="none" controls muted="muted"
            style="position: relative; margin-left: auto; margin-right: auto; display: block" poster="" 
            data-setup='{
                "playbackRates": [1, 1.25, 1.5, 2, 5],
                "controlBar": {
                    "skipButtons": {
                        "backward": 5,
                        "forward": 5
                    }
                }
            }' 
           autoplay="autoplay"
           >
            <source id="video-source" type="video/mp4" src="/video_streaming?video_path={{video_path}}" />
        </video>
    </div>

</body>
<script src="{{url_for('static', path='/js/shortcut.js')}}"></script>
<script>
    var timestamp = parseFloat('{{timestamp}}');
    var video = document.getElementById('video-player');
    video.addEventListener('loadedmetadata', function() {
        video.currentTime = timestamp;
    });
    video.defaultPlaybackRate = "1.5"
    // setTimeout(() => {
    //     video.play()
    // }, 0);
    currenttimeshow = document.getElementById('currenttimeshow')
    // video.addEventListener("timeupdate", (event) => {
    // });
    function showtime(){
        x = video.currentTime
        m = Math.floor(x/60)
        s = Math.floor(x%60)
        f = Math.floor(video.currentTime * fps)
        currenttimeshow.innerHTML = `${m}:${("0"+s).slice(-2)}(${x.toFixed(2)}) - ${f}`
    }
    document.addEventListener('keydown', (event)=>{
        speedmove = event.shiftKey ? 5 : 2
        if(event.key == 'ArrowRight'){
            video.currentTime += speedmove
        }
        if(event.key == 'ArrowLeft'){
            video.currentTime -= speedmove
        }
        if (event.key == ' '){
            if(video.paused){
                video.play()
            }else{
                video.pause()
            }
        }
    })
    var fps = parseFloat('{{fps}}');
    shortcut.add("Ctrl+S", function() {
        frame = Math.floor(video.currentTime * fps)
        submit = new XMLHttpRequest();
        title = '{{title}}'
        var params = `idx=${frame}&isKeyframe=false&video=${title}`
        submit.open("POST", "/submit?" + params, false);
        // var params = JSON.stringify({
        //     "frame": frame,
        //     "isKeyframe": true
        // });
        // submit.send(params)
        submit.send()
        toastr.success(`${frame} saved successfully`);
    });
    shortcut.add("CTRL+K", function(event) {
        frame = Math.floor(video.currentTime * fps)
        milisec = Math.floor(video.currentTime * 1000)
        submit = new XMLHttpRequest();
        title = '{{title}}'
        var params = `idx=${milisec}&isKeyframe=false&video=${title}`
        submit.open("POST", "/submit_dres_kis?" + params, false);
        submit.send()
        output = JSON.parse(submit.responseText)
        if (output['status']){
            if (output['submission']=="WRONG"){
            toastr.error('WRONG ANSWER');
            } else {
            toastr.success('CORRECT ANSWER');
            }
        }
        else{
            toastr.error('An error occured '+ JSON.stringify(output));
        }
    });
    shortcut.add("CTRL+L", function(event) {
        qa = prompt("Enter the QA")
        frame = Math.floor(video.currentTime * fps)
        milisec = Math.floor(video.currentTime * 1000)
        submit = new XMLHttpRequest();
        title = '{{title}}'
        var params = `idx=${milisec}&isKeyframe=false&video=${title}&qa=${qa}`
        submit.open("POST", "/submit_dres_qa?" + params, false);
        submit.send()
        output = JSON.parse(submit.responseText)
        if (output['status']){
            if (output['submission']=="WRONG"){
            toastr.error('WRONG ANSWER');
            } else {
            toastr.success('CORRECT ANSWER');
            }
        }
        else{
            toastr.error('An error occured '+ JSON.stringify(output));
        }
    });
    function show_toast(){
    }
    setInterval(showtime, 1000/fps)
    const speeds =  [1, 1.25, 1.5, 2, 5]
    document.addEventListener("keydown", (event) => {
        idx = speeds.indexOf(video.playbackRate)
        if (event.key === "-") {
            idx -= 1
            if (idx < 0){
                idx = 0
            }
        } else if (event.key === "=") {
            idx += 1
            if (idx >= speeds.length){
                idx = speeds.length - 1
            }
        }
        video.playbackRate = speeds[idx]
    });
    document.getElementById('video-title').href = `data/video/{{title}}`
</script>
</html>